host 
  text-align center

nz-header
  display flex
  justify-content space-between
  padding 20px 10px
  height 94px
  background #fff
  color #000

nz-footer 
  background #72bf44
  color #fff
  line-height 1.5


nz-content 
  background #f7f7f7
  color #000
  min-height 80vh
  display flex
  justify-content center
  align-items center

.logo
  width 256px
  height 60px
  display block
  background url(../assets/images/logo.svg) no-repeat

.avatar
  background-color #2d7d2f