<form
  nz-form
  [formGroup]="authForm"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Пожалуйста, укажите логин!">
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          nz-input
          formControlName="login"
          placeholder="Логин"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Пожалуйста введите пароль!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Пароль"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Авторизоваться
  </button>
</form>
